<div class="container">
  <div class="receiver-form row">
    <div class="col-xs-9">
      <h3>配送先編集</h3>
      <!-- エラーメッセージ -->
      <%= render 'error', receiver: @receiver %>

      <!-- 配送先編集フォーム -->
      <%= form_with(url: users_receiver_path(@receiver), model: @receiver, local: true) do |f| %>
        <%= f.label :post_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :post_code %>
        <%= f.label :address, "住所"%>
        <%= f.text_field :address %>
        <%= f.label :name, "宛名"%>
        <%= f.text_field :name %>
        <%= f.submit "編集する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
 </div>