<%= render "users/unless_login_header" %>
<div class="container">
  <div>
      <span style="background-color: #EEEEEEEE; font-size: 24px; font-weight:bold;">配送先編集</span>
      <!-- エラーメッセージ -->
      <%= render 'error', receiver: @receiver %>
  </div>

      <!-- 配送先編集フォーム -->
    <div class="col-xs-9">
      <div class ="row">
          <%= form_with(url: users_receiver_path(@receiver), model: @receiver, local: true) do |f| %>
            <div class="row">
              <div class ="flex">
                <div class="col-xs-3">
                  <span style="font-weight:300; font-size: 13px">郵便番号(ハイフンなし)</span>
                </div>
                <div class ="col-xs-3">
                  <%= f.text_field :post_code %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class ="flex">
                <div class="col-xs-3">
                  <span style="font-weight:300; font-size: 13px">住所</span>
                </div>
                <div class ="col-xs-3">
                  <%= f.text_field :address %><br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class ="flex">
                <div class="col-xs-3">
                  <span style="font-weight:300; font-size: 13px">宛名</span>
                </div>
                <div class ="col-xs-3">
                  <%= f.text_field :name %>
                </div>
              </div>
            </div>
        </div>
        <div align="right">
          <%= f.submit "確認画面へ進む" ,class: "btn btn-primary" %>
        </div>
          <% end %>
      </div>
    </div>
</div>
<style>
  .flex {
            display: flex;
          }
          .flex > div {
            margin: 4px 0;
          }
</style>