<%= render "users/unless_login_header" %>
<div class="container">
  <div class="row">
    <span style="background-color: #EEEEEEEE; font-size: 24px; font-weight:bold;">配送先登録/一覧</span>
    <!-- エラーメッセージ -->
    <%= render 'admins/shared/error_messages', resource: @receiver %>
  </div>

    <!-- 配送先登録フォーム -->
  <div class ="row">
    <%= form_with(url: users_receivers_path, model:@receiver, local: true) do |f| %>
      <div class="row">
            <form>
              <div class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                <div class="row flex">
                    <input type="hidden" class="p-country-name">
                    <div class="col-xs-2">
                      <span style="font-weight:300; font-size: 10px">郵便番号(ハイフンなし)</span>
                </div>
                <div class="col-xs-2">
                      <%= f.text_field :post_code, class: 'p-postal-code form-control', size: 8, max_length: 8, placeholder: '1000000' %>
                    </div>
                  </div>
                  <div class="row flex">
                    <div class="col-xs-2">
                      <span style="font-weight:300; font-size: 10px">住所</span>
                </div>
                <div class="col-xs-3">
                  <%= f.text_field :address, class: 'p-region p-locality p-street-address p-extended-address form-control' %>
                </div>
              </div>
                </div>
                </form>
            <div class="row">
              <div class ="flex">
                <div class="col-xs-2">
                  <span style="font-weight:300; font-size: 10px">宛名</span>
                </div>
                <div class ="col-xs-2">
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class ="col-xs-3">
                  <%= f.submit "登録する" ,class: "btn btn-success " %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
  </div>
<br><br><br>
<!-- 配送先一覧表 -->
  <div class = "row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-7">
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th class="col-xs-2">郵便番号</th>
          <th class="col-xs-4">住所</th>
          <th class="col-xs-2">宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @receivers.each do |receiver| %>
          <tr>
            <th><%= receiver.post_code %></th>
            <th><%= receiver.address %></th>
            <th><%= receiver.name %></th>
            <th>
              <div align="center">
                <%= link_to "編集する", edit_users_receiver_path(id: receiver.id), method: :get, class: "btn btn-primary" %>
                <%= link_to "削除する", users_receiver_path(id: receiver.id), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
              </div>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<style>
  .flex {
            display: flex;
          }
          .flex > div {
            margin: 2px 0;
          }
</style>
