<%= render "users/unless_login_header" %>
<br><br><br>
<div class="row">
  <div class ="col-xs-2">
  </div>
  <div>
    <span style="background-color: #EEEEEEEE; font-size: 15px; font-weight:bold;">会員の方はこちらからログイン</span>
  </div>
</div>
<div class="row">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= flash[:alert]%>
  <div class="row flex">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <span style="font-size:12px">メールアドレス</span>
    </div>
    <div class="col-xs-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
    </div>
  </div>

  <div class="row flex">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <span style="font-size:12px">パスワード</span>
    </div>
    <div class="col-xs-3">
      <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control"%>
    </div>
  </div>
  <div class="row col-xs-8" align="right">
    <%= link_to new_password_path(resource_name) do%>
    <span style="font-size:10px">=>パスワードを忘れた方はこちら</span>
    <% end %>
  </div>
</div>

<div class="row flex flex1">
  <div class="col-xs-4">
  </div>
  <div class="actions">
    <%= f.submit "ログイン",class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<div class="row">
  <div class ="col-xs-2">
  </div>
  <div>
    <span style="background-color: #EEEEEEEE; font-size: 15px; font-weight:bold;">登録がお済みでない方</span>
  </div>
</div>
<div class="row">
  <div class="row flex">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-6">
      <div class="actions">
        <%= link_to new_registration_path(resource_name) do%>
        <span>こちら</span>
        <% end %>から新規登録を行ってください。
      </div>
    </div>
  </div>
</div>
<style>
  .flex {
            display: flex;
          }
          .flex > div {
            margin: 4px 5px;
          }
  .flex1 > div {
    margin: 0px 12px;
  }
</style>
