<%= render "users/unless_login_header" %>
<div class="container">
  <div class="row">
    <div>
      <%= render 'products/sidecategory', categories: @categories %>
    </div>
    <div class="topimage col-xs-7" style="height:300px; padding: 95px 80px">
      <div>
        <p style="padding: 10px 0; background-color: rgba( 0, 0, 0, 0.9); color: white; width: 400px; margin: 0 auto; text-align: center">
          ようこそ、NaganoCakeへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
        </p>
      </div>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9 col-xs-offset-2">
      <h3><strong>オススメ商品</strong></h3>
      <% @products.each do |product| %>
        <div class="col-xs-3">
          <%= link_to product_path(product.id) do %>
          <div><%= attachment_image_tag product,:image, size: "150x100",format: 'jpeg',fallback: "no_image.jpg" %></div>
          <p><%= product.name %></p>
          <p>￥<%= product.now_price.to_s(:delimited) %></p>
          <% end %>
        </div>
      <% end %>
      <div style="text-align: right; margin-right:70px">
        <%= link_to "もっと見る>", products_path %>
      </div>
    </div>
  </div>
</div>
<footer>
</footer>
  <style>
    footer {
      width: 100%;
      height: 100px;
      border-top: solid 1px black;
    }
  </style>
  <style>
        .flex {
          display: flex;
        }
        .flex > div {
          width: 20%;
          height: 100px;
          margin: 10px;
          background-color: green;
        }
        button {
          margin: 10px 25px 25px 0;
        }
      </style>
      <!-- styleタグを使うことで内部にcssのように記述してレイアウト調整
      display:flexを使用し、flexにした親要素　>　子要素とすることでfloatなどを
      使わずに子要素を簡単に並べられる -->