<nav class="navbar">
  <div class="row" style="border-bottom:solid 1px black; padding: 10px 20px">
    <div class="col-xs-2">
      <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="col-xs-3">
        <p style="margin-left: 30px">ようこそ、<%= "#{current_user.family_name}" "#{current_user.last_name}"  %>さん！</p>
      </div>
      <div class="col-xs-7 text-right">
        <%= link_to users_path do %>
          <button type="button" class="btn btn-default navbar-btn">
            <span>マイページ</span>
          <!-- user_path(current_user.id) -->
        </button>
        <% end %>
      <%= link_to products_path do %>
        <button type="button" class="btn btn-default navbar-btn">
          <span>商品一覧</span>
          <!-- products_path -->
        </button>
        <% end %>
      <%= link_to users_carts_path do %>
        <button type="button" class="btn btn-default navbar-btn">
          <span>カート</span>
          <!-- users_carts_path -->
        </button>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button type="button" class="btn btn-default navbar-btn">
          <span>ログアウト</span>
          <!-- destroy_user_session_path -->
        </button>
      <% end %>
      </div>

      <% else %>
      <div class="col-xs-10 text-right">
        <%= link_to about_path do %>
          <button type="button" class="btn btn-default">
            <span>アバウト</span>

            <!-- about_path -->
          </button>
        <% end %>
        <%= link_to products_path do %>
          <button type="button" class="btn btn-default">
            <span>商品一覧</span>
            <!-- products_path -->
          </button>
        <% end %>
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-default">
            <span>新規登録</span>
            <!-- new_user_registration_path -->
          </button>
        <% end %>
        <%= link_to  new_user_session_path do %>
          <button type="button" class="btn btn-default">
            <!-- new_user_session_path -->
            <span>ログイン</span>
          </button>
        <% end %>
        </div>
    <% end %>
  </div>
</nav>


