<h2>マイページ</h2>
<h1>登録情報</h1>
<%= link_to "編集する",edit_users_path %>
<%= link_to "パスワードを変更する",edit_user_password_path %><br>

<h3>氏名</h3>
<%= current_user.flag %>
<%= current_user.family_name %>
<%= current_user.last_name %><br>
<%= @user.last_name %><br>
<h3>カナ</h3>
<%= current_user.family_name_kana %>
<%= current_user.last_name_kana %><!-- tesut --> 
<%= current_user.last_name_kana %>
<h3>郵便番号</h3>
<%= current_user.post_code %><br>
<h3>住所</h3>
<%= current_user.address %><br>
<h3>電話番号</h3>
<%= current_user.telephone_number %><br>
<h3>メールアドレス</h3>
<%= current_user.email %><br>
<h1>配送先</h1><%= link_to "一覧を見る",users_receivers_path(current_user) %><br>
<h1>注文履歴</h1><%= link_to "一覧を見る",users_orders_path(current_user) %><br>