<%= render "admins/tops/header" %>
<h1>ジャンル編集</h1>

<%= form_for(@category,url: admins_category_path) do |f| %>
<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
<label>
	<%= f.radio_button :flag, 1 %> 有効
</label>
<label>
	<%= f.radio_button :flag, 2 %> 無効
</label>
</div>
<div class="action">
 	<%= f.submit %>
</div>
<% end %>