<h1>ジャンル一覧・追加</h1>
ジャンル
<%= form_for(@category) do |f| %>
<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
    <%= f.hidden_field :flag, :value => 1 %>
 </div>

 <div class="action">
 	<%= f.submit %>
 </div>
<% end %>

<table>
	<thead>
		<tr>ジャンル</tr>
		<tr>状態</tr>
		<tr></tr>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<td>
			<%= category.name %>
		</td>
		<td>
			<% if category.flag == 1 %>有効
			<% else %>無効
			<% end %>
		</td>
		<td>
			<%= link_to "編集する",edit_admins_category_path(category.id) %>
		</td>
	</tbody>
</table>