<%= render "admins/tops/header" %>
<div style="width:150px; text-align: center; margin:0 auto">
  <h3 style="background-color: #EEEEEEEE">検索結果</h3>
</div>
<div style="height:40px">
</div>

<h4>会員情報</h4>
<table class="table table-bordered" style="margin-bottom:50px">
  <thead>
    <tr class="active">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to "#{user.family_name}#{user.last_name}", admins_user_path(user) %></td>
      <td><%= user.email %></td>
      <td>
        <% if user.flag == 1 %>
          <p>有効</p>
        <% else %>
          <p>退会済み</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>商品情報</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th class="col-xs-4">商品名</th>
      <th class="col-xs-2">単価</th>
      <th class="col-xs-2">ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <% if product.category.flag == 1 %>
        <tr>
          <td>
            <%= link_to product_path(product.id) do %>
              <%=  attachment_image_tag product,:image, size: "100x100",format: 'jpeg',fallback: "no_image.jpg" %>
              <span style="font-size:15px"><%= product.name %></span>
            <% end %>
          </td>
          <td>
            <%= (product.now_price).round.to_s(:delimited) %>
          </td>
          <td>
            <%= product.category.name %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
