<%= render "users/unless_login_header" %>
<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<span style="background-color: #EEEEEEEE; font-size: 24px; font-weight:bold;">注文情報入力</span>
	</div>
</div>
<div class ="row">
	<%= form_with url: order_checktest_users_path,method: :get,local: true do |f| %>
	<%=  %>
	<%= render 'admins/shared/error_messages', resource: @order %>
	<!-- form_withにモデルを関連させずに確認画面を表示させるようにすることで下記のフォームの内容を確認画面で使用できるようにする -->
	<div>
		<span style="font-size:18; font-weight:bold; ">支払方法</span><br>
	</div>
	<div class="col-xs-offset-1">
		<label>
			<%= f.radio_button :payment, 1 %> <span style="font-weight:300;">クレジットカード</span>
		</label>
	</div>
	<div class="col-xs-offset-1">
		<label>
			<%= f.radio_button :payment, 2 %> <span style="font-weight:300;">銀行振込</span>
		</label>
	</div>
	<div>
		<span style="font-size:18; font-weight:bold; ">お届け先</span>
	</div>
	<div class="col-xs-offset-1">
		<label>
			<%= f.radio_button :address_s, 1 %><span style="font-weight:300;">ご自身の住所</span>
		</label>
	</div>
	<div class="col-xs-offset-2">
			<%= current_user.address_all %>
	</div>
	<div class="col-xs-offset-1">
		<label>
			<%= f.radio_button :address_s, 2 %> <span style="font-weight:300;">登録済住所から選択</span>
		</label>
	</div>
	<div class="col-xs-offset-2">
			<%= f.collection_select :id, current_user.receivers, :id, :address_all %>
			<!-- 選択肢として見せているのがreceiversのaddress_allで選んだときに送られるのはreceivers.idになってます -->
	</div>
	<div class="col-xs-offset-1">
		<label>
			<%= f.radio_button :address_s, 3 %> <span style="font-weight:300;">新しいお届け先</span>
		</label>
	</div>
		<div class="h-adr">
			<span class="p-country-name" style="display:none;">Japan</span>
			<div class="row flex">
				<div class="col-xs-2">
				</div>
      			<input type="hidden" class="p-country-name">
      			<div class="col-xs-2">
					<span>郵便番号</span>
				</div>
				<div class="col-xs-2">
        			<%= f.text_field :post_code, class: 'p-postal-code form-control', size: 8, max_length: 8, placeholder: '1000000' %>
        		</div>
        	</div>
        	<div class="row flex">
        		<div class="col-xs-2">
				</div>
        		<div class="col-xs-2">
        			<span>住所</span>
				</div>
				<div class="col-xs-3">
					<%= f.text_field :address, class: 'p-region p-locality p-street-address p-extended-address form-control' %>
				</div>
			</div>
  		</div>
		<div class="row flex">
			<div class="col-xs-2">
			</div>
				<div class="col-xs-2">
					<span>宛名</span>
				</div>
				<div class ="col-xs-2">
					<%= f.text_field :name,class: 'form-control' %>
				</div>
			</div>
		</div>
	<div align="center">
		<%= f.submit "確認画面へ進む" ,class: "btn btn-primary" %>
	</div>
	<% end %>
</div>
<style>
	.flex {
	          display: flex;
	        }
	        .flex > div {
	        	margin: 4px 0;
	        }
</style>

