<div class="row">
	<%= render "users/unless_login_header" %>
</div>
<div class="row">
	<h4 class="col-xs-3 col-xs-offset-1" style="width: 180px; text-align: center; background-color: #EEEEEE">注文履歴詳細</h4>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-1">
		<h5><strong>注文情報</strong></h5>
		<table class = "table table-bordered">
			<tr>
				<td class="active table1_column1">注文日</td>
				<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
			</tr>
			<tr>
				<td class="active table1_column1">配送先</td>
				<td>
					<%= @order.post_code %><br>
					<%= @order.address %><br>
					<%= @order.name %>
				</td>
			</tr>
			<tr>
				<td class="active table1_column1">支払方法</td>
				<td>
					<% if @order.payment == 1 %>
					<span>クレジットカード</span>
					<% else %>
					<span>銀行振込</span>
					<% end %>
				</td>
			</tr>
			<tr>
				<td class="active table1_column1">ステータス</td>
				<td>
					<% if @order.flag == 1 %>
					<span>入金待ち</span>
					<% elsif @order.flag == 2 %>
					<span>入金確認</span>
					<% elsif @order.flag == 3 %>
					<span>製作中</span>
					<% elsif @order.flag == 4 %>
					<span>発送準備中</span>
					<% elsif @order.flag == 5 %>
					<span>発送済み</span>
					<% else %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-3">
		<h5><strong>請求情報</strong></h5>
		<table class = "table table-bordered">
				<tr>
					<td class="active">商品合計</td>
					<td><%= @order.total_price.round.to_s(:delimited) %></td>
				</tr>
				<tr>
					<td class="active">配送料</td>
					<td><%= @order.shipping_fee %></td>
				</tr>
				<tr>
					<th class="active">ご請求額</th>
					<td><%= (@order.total_price + @order.shipping_fee).round.to_s(:delimited) %></td>
				</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-7">
	<h5><strong>注文内容</strong></h5>
		<table class="table table-bordered">
			<thead>
				<tr class="active">
					<th>商品</th>
					<th>単価（税込）</th>
					<th>個数</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @order.ordered_products.each do |ordered_product| %>
				<tr>
					<td>
						<%= ordered_product.product.name %><br>
					</td>
					<td>
						<%= ordered_product.price.round.to_s(:delimited) %><br>
					</td>
					<td>
						<%= ordered_product.number %><br>
					</td>
					<td><%= (ordered_product.price * ordered_product.number).round.to_s(:delimited) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<style>
	.table1_column1 {
		width: 110px;
	}
</style>