<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th class="col-xs-4">商品名</th>
      <th class="col-xs-2">単価</th>
      <th class="col-xs-2">ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <% if product.category.flag == 1 %>
        <tr>
          <td>
            <%= link_to product_path(product.id) do %>
              <%=  attachment_image_tag product,:image, size: "100x100",format: 'jpeg',fallback: "no_image.jpg" %>
              <span style="font-size:15px"><%= product.name %></span>
            <% end %>
          </td>
          <td>
            <%= (product.now_price).round.to_s(:delimited) %>
          </td>
          <td>
            <%= product.category.name %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <div class="paginate"><%= paginate @products, remote: true, param_name:"product_page" %></div>
</table>