<%= render "admins/tops/header" %>
<h1>商品編集</h1>
<%= form_for(@product,url: admins_product_path,method: :patch) do |f| %>
	<div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :image, class: "image" %>
	</div>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, class: "image" %>
	</div>

	<div class="field">
		<%= f.label :text %>
		<%= f.text_area :text, class: "image" %>
	</div>

	<div class="field">
		<%= f.label :category %>
		<%= f.collection_select :category_id, @categories, :id, :name %>
	</div>

	<div class="field">
		<%= f.label :now_price %>
		<%= f.number_field :now_price, class: "image" %>円
	</div>

	<!-- <div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :image, class: "image" %>
	</div> -->

	<div class="field">
		<%= f.label :category %>
		<%= f.select :flag, {"販売中":1, "販売停止中":2} %>
	</div>
	
	<div class="action">
 		<%= f.submit %>
	</div>
<% end %>