<%= render "admins/tops/header" %>
<div style="width:150px; text-align: center; margin-left:60px">
	<h3 style="background-color: #EEEEEEEE">商品編集</h3>
</div>
<div style="height:80px">
</div>
<%= render "admins/shared/error_messages", resource: @product %>
<%= form_for(@product,url: admins_product_path,method: :patch) do |f| %>
	<div class="row">
		<div class="col-xs-4">
			<%= attachment_image_tag @product, :image, size: "280x190",format: 'jpeg',fallback: "no_image.jpg"  %><br>
			<%= f.attachment_field :image, class: "image btn-lg" %>
		<div style="height:100px">
		</div>
		</div>

		<div class="flex">
				<div style="padding-right:63px;">
					<%= f.label :name, "商品名" %>
				</div>
				<div>
					<%= f.text_field :name, class: "image", :size=>"32" %>
				</div>
			</div>
			
			<div class="flex">
				<div style="padding-right:50px;">
					<%= f.label :text, "商品説明" %>
				</div>
				<div>
					<%= f.text_area :text, class: "image", :size=>"30x7" %>
				</div>
			</div>


			<div class="flex">
				<div style="padding-right:50px">
					<%= f.label :category, "ジャンル" %>
				</div>
				<div>
					<%= f.collection_select :category_id, @categories, :id, :name %>
				</div>
			</div>

			<div class="flex">
				<div style="padding-right:50px;">
					<%= f.label :now_price, "税抜価格" %>
				</div>
				<div>
					<%= f.number_field :now_price, class: "image" %>円
				</div>
			</div>

			<div class="flex" >
				<div style="padding-right:8px;">
					<%= f.label :category, "販売ステータス" %>
				</div>
				<div style="text-align: center">
					<%= f.select :flag, {"販売中":1, "販売停止中":2} %>
				</div>
			</div>

				<!-- <div class="field">
					<%= f.label :image %>
					<%= f.attachment_field :image, class: "image" %>
				</div> -->
			<div class="col-xs-offset-9 col-xs-3 action">
		 		<%= f.submit "変更を保存",class: "btn btn-primary btn-lg" %>
			</div>
		</div>
	</div>
<% end %>
<style>
	.flex {
    display: flex;
    padding-bottom:10px;
  }
  .flex > div {
  }
 	#product_category_id {
 		width: 230px;
 	}
 	#product_now_price {
 		width: 230px;
 	}
 	#product_flag{
 		width: 230px;
 	}
</style>