<h1>商品一覧</h1>
<%= link_to new_admins_product_path do %>
	<i class="glyphicon glyphicon-plus-sign" style="size: large;" aria-hidden="true"></i>
<% end %>

<div class = "container">
	<div class = "row">
		<table class ="table">
			<thead>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜き価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</thead>
			<tbody>
				<% @product.each do |product| %>
					<tr>
					<td>
						<%=  product.id  %>
					</td>
					<td>
						<%= link_to admins_product_path(product.id) do %>
							<%= product.name %>
						<% end %>
					</td>
					<td>
						<%= product.now_price %>
					</td>
					<td>
						<%= product.category.name %>
					</td>
					<td>
						<% if product.flag == 1 %>
							<span>販売中</span>
						<% else %>
							<span>売り切れ</span>
						<% end %>
					</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

