<%= render "admins/tops/header" %>
<div style="width:130px; text-align: center; margin-left:80px">
	<h3 style="background-color: #EEEEEEEE">商品詳細</h3>
</div>
<div style="height:100px">
</div>
<div class = "container">
	<div class = "row">
		<div class="col-xs-4">
			<%=  attachment_image_tag @product, :image, size: "280x190",format: 'jpeg',fallback: "no_image.jpg"  %>
		</div>
		<div class="col-xs-8">
			<table style="text-align: left">
				<tbody>
					<tr>
						<th>商品名</th>
						<td>
								<%= @product.name %>
						</td>
					</tr>
					<tr>
						<th>商品説明</th>
						<td>
								<%= @product.text %>
						</td>
					</tr>
					<tr>
						<th>ジャンル</th>
						<td>
								<%= @product.category.name %>
						</td>
					</tr>
					<tr>
						<th>税込価格（税抜価格）</th>
						<td>
							<%= (@product.now_price*1.1).round.to_s(:delimited) %>円
							(<%= @product.now_price.round.to_s(:delimited) %>)円
						</td>
					</tr>
					<tr>
						<th>販売ステータス</th>
						<td>
							<% if @product.flag == 1 %>
								<span>販売中</span>
							<% else %>
								<span>販売停止中</span>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-xs-9">
</div>
<div class="col-xs-3">
	<%= link_to "編集する",edit_admins_product_path(@product), class: "btn btn-default btn-primary" %>
</div>

<style>
	.col-xs-8 {
		width:600px;
	}
	table {
		height:350px;
	}
	th {
		text-align: center;
	}
	td {
		padding-left:20px;
		width:380px;
	}
</style>