<%= render "admins/tops/header" %>
<h1>商品詳細</h1>
<div class = "container">
	<div class = "row">
		<%=  attachment_image_tag @product, :image, size: "300x300",format: 'jpeg',fallback: "no_image.jpg"  %>
		<table class ="table">
			<tbody>
				<td>
					<%=  @product.id  %>
				</td>
				<tr>
					<td>商品名</td>
					<td>
							<%= @product.name %>
					</td>
				</tr>
				<tr>
					<td>商品説明</td>
					<td>
							<%= @product.text %>
					</td>
				</tr>
				<tr>
					<td>ジャンル</td>
					<td>
							<%= @product.category.name %>
					</td>
				</tr>
				<tr>
					<td>税込価格（税抜価格）</td>
					<td>
						<%= (@product.now_price*1.1).round.to_s(:delimited) %>円
						(<%= @product.now_price.round.to_s(:delimited) %>)円
					</td>
				</tr>
				<tr>
					<td>
						<% if @product.flag == 1 %>
							<span>販売中</span>
						<% else %>
							<span>販売停止中</span>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<%= link_to "編集する",edit_admins_product_path(@product) %>