<div class = "container">
	<div class = "row">
		<div class="col-xs-4">
			<%= render "sidecategory",categories:@categories%>
		</div>
		<div class ="col-xs-8">
			<b>商品一覧</b>全x件<!-- 有効フラグの総数 -->
			<% @products.each do |product| %>
			<%= link_to product_path(product.id) do %>
				<%=  attachment_image_tag(product,:image)  %><br>
				<%= product.name %><br>
			<% end %>
			<%= number_to_currency(product.now_price*1.1) %><br>
			<%= product.category.name %>
		<!-- <td>
			<= product.flag >
		</td> -->
			<% end %>
		</div>
	</div>
</div>

