<%= render "users/unless_login_header" %>
<div class = "container">
	<div class = "row">
		<%= render "products/sidecategory",categories:@categories%>
		<div class="col-xs-4">
			<%=  attachment_image_tag @product, :image, size: "280x190",format: 'jpeg',fallback: "no_image.jpg"  %>
		</div>
		<div class="col-xs-5">
			<table>
				<tbody>
					<tr>
						<td>
								<p style="font-size: 18px"><strong><%= @product.name %><strong></p>
						</td>
					</tr>
					<tr>
						<td>
								<p style="font-size: 10px"><%= @product.text %></p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="font-size: 16px">￥ <%= (@product.now_price*1.1).round.to_s(:delimited) %><span style="font-size: 10px"> (税込)</span></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-5 col-xs-offset-7">
	</div>
</div>
<div class="row">
	<%= form_for([@product,@cart],url:users_carts_path(id: @product.id),method: :post) do |f| %>
	<%= render 'admins/shared/error_messages', resource: f.object %>
	<div class="col-xs-1 col-xs-offset-7 number-tab">
		<%= f.number_field :number, class: "form-control" %>
	</div>
		<div class="col-xs-3">
			<%=f.submit "カートに入れる", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>

<%= render "product_comment",product: @product, product_comment: @product_comment %>