<nav class="navbar">
  <div class="row" style="border-bottom:solid 1px black; padding: 10px 20px">
    <div class="col-xs-2">
      <h3>LOGO</h3>
    </div>
    <div class="col-xs-10 text-right">
      <% if admin_signed_in? %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "商品一覧", admins_products_path  %>
          <!-- admins_products_path -->
        </button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "会員一覧", admins_users_path  %>
          <!-- admins_user_index_path -->
        </button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "注文履歴一覧", "#"  %>
          <!-- admins_order_index_path -->
        </button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "ジャンル一覧", admins_categories_path  %>
          <!--admins_categories_path -->
        </button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          <!-- destroy_admin_session_path -->
        </button>
      <% else %>
        <button type="button" class="btn btn-default"><%= link_to "商品一覧", admins_products_path  %>
          <!-- admins_product_path -->
        </button>
        <button type="button" class="btn btn-default"><%= link_to "ログイン", new_admin_session_path %>
          <!-- new_admin_session_path -->
        </button>
      <% end %>
    </div>
  </div>
</nav>