<div class="row">
<%= render "users/unless_login_header" %>
</div>
<div class="row">
  <div class="col-xs-1">
    <h3 style="background-color:#EEEEEEEE; width: 180px; text-align: center">新規会員登録</h3>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row form-box form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>名前</p>
  </div>
  <div class="col-xs-1">
    <%= f.label :family_name, "(姓)" %>
  </div>
  <div class="col-xs-2">
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "form-control" %>
  </div>
  <div class="col-xs-1">
    <%= f.label :last_name, "(名)" %>
  </div>
  <div class="col-xs-2">
    <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>フリガナ</p>
  </div>
  <div class="col-xs-1">
    <%= f.label :family_name_kana, "(セイ)" %>
  </div>
  <div class="col-xs-2">
    <%= f.text_field :family_name_kana, autocomplete: "family_name_kana", class: "form-control" %>
  </div>
  <div class="col-xs-1">
    <%= f.label :last_name_kana, "(メイ)" %>
  </div>
  <div class="col-xs-2">
    <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>メールアドレス</p>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>郵便番号(ハイフンなし)</p>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.text_field :post_code, autocomplete: "post_code", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>住所</p>
  </div>
  <div class="col-xs-5 col-xs-offset-1">
    <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>電話番号</p>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>パスワード(6文字以上)</p>
    <%# if @minimum_password_length %>
    <!-- <em>(<%= @minimum_password_length %> 文字以上)</em> -->
    <%# end %>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>
</div>
<div class="row form-box">
  <div class="col-xs-2 col-xs-offset-1">
    <p>パスワード(確認用)</p>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
</div>

  <%= f.hidden_field :flag, :value => 1 %>
 <!--  隠しパラメーターをsubmitの際に一緒に送れます。
 ：送るカラム, value => 値
  の書き方です。 -->

  <div class="row form-box">
    <%= f.submit "新規登録", class: "btn btn-success col-sx-2 col-xs-offset-5" %>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-1">
    <h3 style="background-color:#EEEEEEEE; width: 250px; text-align: center">既に登録済みの方</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <p style="margin: 5px"><%= link_to "こちら", new_session_path(resource_name) %>  からログインしてください</p>
  </div>
</div>

<style>
  .form-box {
    margin: 5px auto;
  }
</style>